
#a{
  max-width: 480px;
  height: 75px;
  background-color: red;
  text-align: center;
  line-height: 75px;
  
}
#b{
  max-width: 480px;
  height: 150px;
  background-color: rgb(255, 0, 170);
  text-align: center;
  line-height: 150px;
}
#c{
  max-width: 480px;
  height: 125px;
  background-color: rgb(61, 42, 55);
  text-align: center;
  line-height: 125px;
}
#d{
  width: 480px;
  height: 125px;
  background-color: rgb(61, 142, 55);
  text-align: center;
  float: left;
  line-height: 125px;
}
#e{
  width: 240px;
  height: 250px;
  background-color: rgb(61, 442, 55);
  text-align: center;
  float: left;
  line-height: 250px;
  clear: both;
  
}
#f{
  width: 240px;
  height: 250px;
  background-color: rgb(91, 442, 255);
  text-align: center;
  float: left;
  line-height: 250px;
}
#g{
  width: 240px;
  height: 250px;
  background-color: rgb(61, 42, 155);
  text-align: center;
  float: left;
  line-height: 250px;
  clear: both;
  
}
#h{
  width: 240px;
  height: 250px;
  background-color: rgb(9, 44, 25);
  text-align: center;
  float: left;
  line-height: 250px;
}
#i{
  width: 480px;
  height: 80px;
  background-color: rgb(162, 194, 18);
  text-align: center;
  float: left;
  line-height: 80px;
}
